<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}?hid={$hid}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('copy_run')}">
                <input type="hidden" name="hid" value="{$hid}" />
                <input type="hidden" name="srcLang" value="{$srcLang}" />
                <input type="hidden" name="menuIDs" value="{$menuIDs}" />
                
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">栏目源的酒店</label>
                    <div class="col-sm-9" style="padding-top: 7px;">
                        <span><label>{$hid|getHotelnameByHid}</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">栏目源的语言</label>
                    <div class="col-sm-9" style="padding-top: 7px;">
                        <span><label>{$srcLang|getLangcodeNameById}</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-5">所选栏目源</label>
                    <div class="col-sm-9" style="padding-top:7px;">
                        <span><label>
                        <volist name="volist" id="list">
                        {$list['name']}&nbsp;&nbsp;
                        <volist name="list._child" id="sub">
                        {$sub['name']}&nbsp;&nbsp;
                        </volist>
                        </volist>
                        </label>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-3">目标语言</label>
                    <div class="col-sm-9">
                        <select id="langcodeid" name="dstLang" class="rcol-xs-10 col-sm-5">
                            <option value="">请选择</option>
                            <volist name="langlist" id="langlist">
                                <option value="{$langlist['id']}">{$langlist['name']}</option>
                            </volist>
                        </select>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">目标语言，必选</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
	<script type="text/javascript">
    $(function() {
		$(".btn-info.submit").click(function(){
			$("#form").submit();
		});
	});
	</script>
</block>