<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <form class="form-inline" action="{:U('index')}" method="post">
                    <label class="inline">酒店：</label>
                        <if condition="$personhid neq ''">
                        <select id="hid" name="hid" class="select2" style="width:300px;">
                          <option value=""></option>
                          <volist name="personhid" id="phid">
                            <option value="{$phid}" <if condition="$hid eq $phid">selected</if> >{$phid|getHotelnameByHid}</option>
                          </volist>
                        </select>
                        <else />
                        <select id="hid" name="hid" class="select2" style="width:300px;">
                            <option></option>
                            {$pHotel}
                        </select>
                        </if>
                    <button type="submit" class="btn btn-purple btn-sm">
                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>查询
                    </button>
                </form>
            </div>
            <div class="space-8"></div>
            <div class="row">
                <a class="label label-xlg label-primary" href="{:U('add')}"><i class="ace-icon fa fa-plus bigger-100"></i>&nbsp;添加</a>
                <a class="label label-xlg label-success" href="javascript:;" id="edit" val="{:U('edit')}"><i class="ace-icon fa fa-pencil bigger-100"></i>&nbsp;修改</a>
                <a class="label label-xlg label-info" href="javascript:;" id="unlock" val="{:U('unlock')}" ><i class="ace-icon fa fa-unlock bigger-100"></i>&nbsp;启用</a>
                <a class="label label-xlg label-warning" href="javascript:;" id="lock" val="{:U('lock')}"><i class="ace-icon fa fa-lock bigger-100"></i>&nbsp;禁用</a>
                <a class="label label-xlg label-danger" href="javascript:;" id="delete" val="{:U('delete')}"><i class="ace-icon fa fa-trash-o bigger-100"></i>&nbsp;删除</a>
                <a class="label label-xlg label-pink" href="javascript:;" id="sort" val="{:U('sort')}"><i class="ace-icon fa fa-sort bigger-100"></i>&nbsp;更新排序</a>
                <a class="label label-xlg label-purple" href="javascript:;" id="resource" val="{:U('resource')}"><i class="ace-icon fa fa-list bigger-100"></i>&nbsp;资源管理</a>
                <a class="label label-xlg label-inverse" href="javascript:;" id="copy" val="{:U('copy')}"><i class="ace-icon fa fa-copy bigger-100"></i>&nbsp;栏目复制</a>
            </div>
            <div class="space-8"></div>
            <div class="row">
                <form id="form" method="post" action="">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th class="center"><input class="check-all" type="checkbox" value=""></th>
                          <th class="">酒店编号</th>
                          <th class="">酒店名称</th>
                          <th class="">栏目</th>
                          <th class="">栏目图标</th>
                          <th class="">模型</th>
                          <th class="">语言</th>
                          <th class="">排序</th>
                          <th class="">状态</th>
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="list" id="val">
                        <tr>
                          <td class="center"><input class="aids" type="checkbox" name="ids[]" value="{$val['id']}"></td>
                          <td>{$val['hid']}</td>
                          <td>{$val['hid']|getHotelnameByHid}</td>
                          <td>├─ {$val['name']}</td>
                          <td>
                          <if condition="$val['icon'] neq ''">
                          <img src="{:C('UPLOADPATH')}{$val['icon']}" style="width:45px;height:45px;"/>
                          </if>
                          </td>
                          <td>{$val['modeldefineid']|getModeldefineNameById}</td>
                          <td>{$val['langcodeid']|getLangcodeNameById}</td>
                          <td><input type="text" class="sort" rowid="{$val['id']}" value="{$val['sort']}" style="width:30px;"/></td>
                          <td>{$val['status']|get_status}</td>
                        </tr>
                        <?php $lastVal = end($val['_child']);foreach($val['_child'] as $sub) {  ?>
							<tr>
								<td class="center"><input class="aids" type="checkbox" name="ids[]" value="{$sub['id']}"></td>
	                          	<td>{$sub['hid']}</td>
	                          	<td>{$sub['hid']|getHotelnameByHid}</td>
	                          	<td>&nbsp;&nbsp;&nbsp;│&nbsp;└─{$sub['name']}</td>
	                          	<td>
	                          	<if condition="$sub['icon'] neq ''">
	                          	<img src="{:C('UPLOADPATH')}{$sub['icon']}" style="width:45px;height:45px;"/>
	                          	</if>
	                          	</td>
	                          	<td>{$sub['modeldefineid']|getModeldefineNameById}</td>
	                          	<td>{$sub['langcodeid']|getLangcodeNameById}</td>
	                          	<td><input type="text" class="sort" rowid="{$sub['id']}" value="{$sub['sort']}" style="width:30px;"/></td>
	                          	<td>{$sub['status']|get_status}</td>
							</tr>
                        <?php }?>
                      </volist>

                      </tbody>
                    </table>
                </form>
                {$page}
            </div>
        </div>
    </div>
</block>
<block name="currentPageJS">
<script type="text/javascript">
    $('#hid').select2({ placeholder : '--请选择--' });
    $(function(){
		$(".check-all").click(function(){
			$(".aids").prop("checked", this.checked);
		});
		$(".aids").click(function(){
			var option = $(".aids");
			option.each(function(i){
				if(!this.checked){
					$(".check-all").prop("checked", false);
					return false;
				}else{
					$(".check-all").prop("checked", true);
				}
			});
		});
		$("#edit").click(function(){
			var len = $("input[name='ids[]']:checked").length;
            if(len!=1){
                bootbox.confirm({
                title: "系统提示",
                message: "仅能对一条数据进行操作", 
                callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
			$("#form").attr("action",$("#edit").attr("val"));
			$("#form").submit();
		});
		$("#sort").click(function(){
			var menuid = [];
		    var sort = [];
		    var todourl='';
		    $.each($(".sort"),function(index){
		    	menuid[index]=$(this).attr("rowid");
		    	sort[index]=$(this).val();
			});
		    todourl = $("#sort").attr("val")+"?menuid="+menuid.join()+"&sort="+sort.join(); 
			$("#form").attr("action",todourl);
			$("#form").submit();
		});
		$("#resource").click(function(){
			var len = $("input[name='ids[]']:checked").length;
            if(len!=1){
                bootbox.confirm({
                title: "系统提示",
                message: "仅能对一条数据进行操作", 
                callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
			$("#form").attr("action",$("#resource").attr("val"));
			$("#form").submit();
		});
		$("#copy").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "栏目复制，在同一酒店内将所选栏目由语言A复制到语言B，复制后B语言版本将增加A语言所选栏目及其栏目所属资源，达到同一资源在多处共用的目的。当前所选栏目的栏目语言必须为同一语言，确认将所选栏目作为复制源吗？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#copy").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#unlock").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要启用所选栏目？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#unlock").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#lock").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要禁用所选栏目？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#lock").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#delete").click(function(){
			var len = $("input[name='ids[]']:checked").length;
            if(len!=1){
                bootbox.confirm({
                title: "系统提示",
                message: "仅能对一条数据进行操作", 
                callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
		    }
			$("#form").attr("action",$("#delete").attr("val"));
			$("#form").submit();
		});
	})
</script>
</block>