<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="row <?php if(empty($plist)) echo 'hide'; ?>" >
        <div class="col-xs-12">
            <div class="">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="">集团设定条目</th>
                            <th class="col-xs-2">标题</th>
                            <th class="col-xs-4">url地址</th>
                            <th class="col-xs-3">时间</th>
                            <th class="col-xs-2">状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="plist" id="pval">
                            <tr>
                                <td>/</td>
                                <td>{$pval['name']}</td>
                                <td>{$pval['weburl']}</td>
                                <td>{$pval['time']}</td>
                                <td>{$pval['status']|get_status}</td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="space-8"></div>
            <div class="row">
                <a class="label label-xlg label-primary" href="{:U('weburladd')}?hid={$myhid}" ><i class="ace-icon fa fa-plus bigger-100"></i>&nbsp;添加</a>
                <a class="label label-xlg label-success" href="javascript:;" id="weburledit" val="{:U('weburledit')}" ><i class="ace-icon fa fa-pencil bigger-100"></i>&nbsp;修改</a>
                <a class="label label-xlg label-info" href="javascript:;" id="weburlunlock" val="{:U('weburlunlock')}" ><i class="ace-icon fa fa-unlock bigger-100"></i>&nbsp;启用</a>
                <a class="label label-xlg label-warning" href="javascript:;" id="weburllock" val="{:U('weburllock')}" ><i class="ace-icon fa fa-lock bigger-100"></i>&nbsp;禁用</a>
                <a class="label label-xlg label-danger" href="javascript:;" id="weburldelete" val="{:U('weburldelete')}" ><i class="ace-icon fa fa-trash-o bigger-100"></i>&nbsp;删除</a>
            </div>
            <div class="space-8"></div>
            <div class="row">
                <form id="form" method="post" action="">
                    <input type="hidden" name="hid" value="{$myhid}">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th class="center"><input class="check-all" type="checkbox" value=""></th>
                          <th class="col-xs-2">标题</th>
                          <th class="col-xs-4">url地址</th>
                          <th class="col-xs-3">时间</th>
                          <th class="col-xs-2">状态</th>
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="list" id="val">
                        <tr>
                          <td class="center"><input class="aids" type="checkbox" name="ids[]" value="{$val['id']}_{$val['category_id']}"></td>
                          <td>{$val['name']}</td>
                          <td>{$val['weburl']}</td>
                          <td>{$val['time']}</td>
                          <td>{$val['status']|get_status}</td>
                        </tr>
                      </volist>
                      </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="currentPageJS">
    <script type="text/javascript">
        $(".check-all").click(function(){
            $(".aids").prop("checked", this.checked);
        });
        $(".aids").click(function(){
            var option = $(".aids");
            option.each(function(i){
                if(!this.checked){
                    $(".check-all").prop("checked", false);
                    return false;
                }else{
                    $(".check-all").prop("checked", true);
                }
            });
        });
        $("#weburledit").click(function(){
            var len = $("input[name='ids[]']:checked").length;
            if(len!=1){
                bootbox.confirm({
                title: "系统提示",
                message: "仅能对一条数据进行操作", 
                callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            $("#form").attr("action",$("#weburledit").attr("val"));
            $("#form").submit();
        });
        $("#weburlunlock").click(function(){
            bootbox.confirm({
                title: "系统提示",
                message: "是否要启用？", 
                callback:function(result){
                    if(result){
                        $("#form").attr("action",$("#weburlunlock").attr("val"));
                        $("#form").submit();
                    }
                },
                buttons: {
                    "cancel" : {"label" : "取消"},
                    "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                }
            });
        });
        $("#weburllock").click(function(){
            bootbox.confirm({
                title: "系统提示",
                message: "是否要禁用？", 
                callback:function(result){
                    if(result){
                        $("#form").attr("action",$("#weburllock").attr("val"));
                        $("#form").submit();
                    }
                },
                buttons: {
                    "cancel" : {"label" : "取消"},
                    "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                }
            });
        });
        $("#weburldelete").click(function(){
            var len = $("input[name='ids[]']:checked").length;
            if(len!=1){
                bootbox.confirm({
                title: "系统提示",
                message: "仅能对一条数据进行操作", 
                callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            $("#form").attr("action",$("#weburldelete").attr("val"));
            $("#form").submit();
        });
    </script>
</block>