<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">版本号</label>
                    <div class="col-sm-9">
                        <input type="text" name="version" id="version" placeholder="版本号" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">皮肤名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" id="name" placeholder="皮肤名称" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">文件入口名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="web_name" id="web_name" placeholder="平台显示模板名称" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">皮肤文件</label>
                    <div class="col-sm-9" style="width:400px;">
                        <a id="showfilename"  href="" target="_blank"></a>
                        <input type="hidden" id="filename" name="filename" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">皮肤上传</label>
                    <div class="col-sm-9" style="width:300px;">
                        <span class="btn btn-success fileinput-button" style="text-align:left;">
                            <span>请上传ZIP压缩包&nbsp;&nbsp;<i class="icon-upload icon-white"></i></span>
                            <input id=fileupload name="fileupload"  type="file" name="fileupload" />
                        </span>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">上传进度</label>
                    <div class="col-sm-9" style="width:40%;">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0">
                            <div id="weixin_progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div> 
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
<script type="text/javascript">
	$(function () {
		$("#fileupload").fileupload({
            url: "{:U('upload?name=fileupload')}", 
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) {  
        	//console.log(data);
        	var json = data.result;
        	if(json.status==1){
    			$("input[name=filename]").val(json.storename);
    			$("a#showfilename").attr("href","{:C('UPLOADPATH')}"+json.storename);
    			$("a#showfilename").text(json.storename);
    		}else if(json.status == 0){
                $("#weixin_progress").css('width','0');  
                $("#weixin_progress").html('0');
            }
        	mainAjaxMsg(json.status,json.info);
        }).bind('fileuploadprogress', function (e, data) {  
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#weixin_progress").css('width',progress + '%');  
            $("#weixin_progress").html(progress + '%');  
        });
		
		$(".btn-info.submit").click(function(){
			var name = $("#name").val();
			var version = $("#version").val();
			var filename = $("#filename").val();
			if(name==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "皮肤名称必须填写！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			if(version==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "版本号必须填写！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			if(filename==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "请上传皮肤包文件！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			$("#form").submit();
		});
	});
	</script>
</block>