<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="app_name" id="app_name" placeholder="显示名称" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">类型</label>
                    <div class="col-sm-9">
                        <select name="app_type" id="app_type" class="col-xs-10 col-sm-5">
                            <option value="1">系统应用</option>
                            <option value="2">APPstore应用</option>
                        </select>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">包名</label>
                    <div class="col-sm-9">
                        <input type="text" name="app_package" id="app_package" placeholder="" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">版本号</label>
                    <div class="col-sm-9">
                        <input type="text" name="app_version" id="app_version" placeholder="" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>系统应用为必填项,且版本号为整数</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">编号</label>
                    <div class="col-sm-9">
                        <input type="text" name="app_identifier" class="col-xs-10 col-sm-5" value="{$app_identifier}" readonly="true">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>自生成</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-6">简介</label>
                    <div class="col-sm-9">
                        <textarea name="app_introduce" id="app_introduce" placeholder="简介" class="col-xs-10 col-sm-5" rows="5"></textarea>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7"></label>
                    <div class="col-sm-9">
                        <span class="btn btn-primary fileinput-button" style="text-align:left;">
                            <span id="choosedevice"><i class="ace-icon fa fa-search bigger-100"></i>&nbsp;选择房间号</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">房间号：</label>
                    <div class="col-sm-9">
                        <input type="hidden" name="maclist" value="all" />
                        <textarea id="room" name="room" readonly="true" class="col-xs-10 col-sm-5" rows="5">不选择则默认全部房间的设备</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">APK文件</label>
                    <div class="col-sm-9" style="width:400px;">
                        <a id="showfilename"  href="" target="_blank"></a>
                        <input type="hidden" name="app_file" value="">
                        <input type="hidden" name="app_size" id="app_size" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">APK上传</label>
                    <div class="col-sm-9" style="width:300px;">
                        <span class="btn btn-success fileinput-button" style="text-align:left;">
                            <span>请选择APK&nbsp;&nbsp;<i class="icon-upload icon-white"></i></span>
                            <input id=fileupload name="fileupload"  type="file" name="fileupload" />
                        </span>
                    </div>
                    
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-9">上传进度</label>
                    <div class="col-sm-9" style="width:40%;">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0">
                            <div id="weixin_progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div> 
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>
                 <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-4">图标</label>
                    <div class="col-sm-9" >
                        <img id="qrcode_image" class="img-polaroid" src="" style="width:100px;height:100px;background:#ccc;" />
                        <input type="hidden" name="app_pic" value="">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-5">图标上传</label>
                    <div class="col-sm-9">
                        <span class="btn btn-success fileinput-button" style="text-align:left;">
                            <span>请选择图片&nbsp;&nbsp;<i class="icon-upload icon-white"></i></span>
                            <input id="fileupload_qrcode" name="fileupload_qrcode"  type="file" />
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-6">&nbsp;</label>
                    <div class="col-sm-9">
                        <span class="col-xs-10 col-sm-12">目前支持'jpg'，'png'，'jpeg'格式的图片</span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">上传进度</label>
                    <div class="col-sm-9" style="width:40%;">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0">
                            <div id="qrcode_progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div> 
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- 显示选择酒店模态框（DeviceModal） -->
    <div class="modal fade" id="DeviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">选择要升级的房间号</h4>
                    <h5>酒店编号：<span><input type="text" name="hotelHid"></span><span style="padding-left: 20px;"><button type="button" class="hotelsearch" style="height: 28px;">搜索</button></span></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><input type="checkbox" name="allHotel" id="allDevice" class="checkDeviceAll" value="allDevice" >&nbsp;&nbsp;全部</h4>

                                    </div>
                                </div>
                                <volist name="menuTree" id="list">
                                <div class="panel panel-default hotelHidval" val="{$list['hid']}">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <input type="checkbox" name="r[]" id="list_{$list.id}" class="checkAccessAll" value="{$list.id}" >&nbsp;&nbsp;{$list.hotelname}
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{$list.id}" style="float:right;">展开/折叠 </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{$list.id}" class="accordion-body collapse">
                                        <div class="panel-body">
                                            <volist name="list['sub']" id="sub">
                                            <label class="checkbox inline" style="padding-left: 30px;">
                                                <input type="checkbox" name="eDevice" cid="list_{$list.id}" class="checkAccessSingle" value="{$sub.mac}" roomname="{$sub.room}">{$sub.room}(版本：{$sub.firmware_version})(详细地址备注：{$sub.room_remark})
                                            </label>
                                            </volist>
                                        </div>
                                    </div>
                                </div>
                                </volist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="selectedDevice()">提交</button>
                    <button class="btn btn-info" type="reset" id="restimage">重置</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->     
    </div>
    <!--  / .DeviceModal-->
</block>
<block name="currentPageJS">
<script type="text/javascript">
    $(function(){
        $(".panel-collapse").collapse({
            toggle:false
        });      
    });

    $(function () {

		$("#fileupload").fileupload({
            url: "{:U('upload')}?name=fileupload", 
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) { 
        	var json = data.result;
            console.log(data);
        	if(json.status==1){
                console.log(json.storename);
    			$("input[name=app_file]").val(json.storename);
                $("#app_size").val(json.size);
                $("a#showfilename").attr("href","{:C('UPLOADPATH')}"+json.storename);
                $("a#showfilename").text(json.storename);
    		}else if(json.status == 0){
                $("#weixin_progress").css('width','0');  
                $("#weixin_progress").html('0');
            }
        	mainAjaxMsg(json.status,json.info);
        }).bind('fileuploadprogress', function (e, data) {  
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#weixin_progress").css('width',progress + '%');  
            $("#weixin_progress").html(progress + '%');  
        });

        $("#fileupload_qrcode").fileupload({
            url: "{:U('upload_icon')}?name=fileupload_qrcode",
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) {  
            var json = data.result;
            if(json.status==1){
                $("input[name=app_pic]").val(json.storename);
                $("img#qrcode_image").attr("src","{:C('UPLOADPATH')}"+json.storename);
            }else if(json.status == 0){
                $("#qrcode_progress").css('width','0');  
                $("#qrcode_progress").html('0');
            }
            mainAjaxMsg(json.status,json.info);
        }).bind('fileuploadprogress', function (e, data) {  
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#qrcode_progress").css('width',progress + '%');  
            $("#qrcode_progress").html(progress + '%');  
        });
		
		$(".btn-info.submit").click(function(){
			var name = $("#app_name").val();
			var app_package = $("#app_package").val();
			var filename = $("#filename").val();
            var app_file = $("input[name='app_file']").val();
            var app_pic = $("input[name='app_pic']").val();
            var app_type = $("#app_type option:selected").val();
            var app_version = parseInt($("input[name='app_version']").val());
			if(name==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "文件名称必须填写！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			if(app_package==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "包名必须填写！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			if(filename==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "请上传APK文件！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
            if(app_pic==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "请上传APK图标！", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if($.trim(app_version)==""){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "系统应用为必填项", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }

            $("#form").submit();
		});

        //选择房间静态模板
        $("#choosedevice").click(function(){
            $('div#DeviceModal').modal('show');  
        });

        $("input[type=checkbox].checkDeviceAll").on("click",function(){
            var ischeck = this.checked;
            $.each($("input.checkAccessSingle"),function(i,item){
                item.checked=ischeck;
            });
            $.each($("input.checkAccessAll"),function(i,item){
                item.checked=ischeck;
            });
        });
        $("input[type=checkbox].checkAccessAll").on("click",function(){
            var ischeck = this.checked;
            $.each($("input[cid="+this.id+"].checkAccessSingle"),function(i,item){
                item.checked=ischeck;
            });
        });
        $("input[type=checkbox].checkAccessSingle").on("click",function(){
            var ischeck = false;
            $checkbocparent = $("input[id='"+$(this).attr('cid')+"']");
            $.each($("input[cid="+$(this).attr('cid')+"].checkAccessSingle"),function(i,item){
                if(item.checked==true){
                    ischeck=true;
                }
            });
            if(ischeck==true){
                $checkbocparent.prop('checked', true);
            }else{
                $checkbocparent.prop('checked', false);
            }
        });
	});
    function selectedDevice(){
        var roomIDs=[];
        var roomNames=[];
        var i=0;
        var allischecked = $("input[type=checkbox].checkDeviceAll").is(':checked');//所有选中
        $("input[type=checkbox].checkAccessSingle ").each(function(){
            if(this.checked){
                roomIDs[i]=$(this).val();
                roomNames[i]=$(this).attr('roomname');
                i++;
            }
        });
        if(roomNames.join()=="" || roomNames.join()=="NULL" || allischecked){
            $("textarea[name=room]").val("全部房间");
        }else{
            $("textarea[name=room]").val(roomNames.join());
        }
        if(roomNames.join()=="" || roomNames.join()=="NULL" || allischecked){
            $("input[name=maclist]").val("all");
        }else{
            $("input[name=maclist]").val(roomIDs.join());
        }
        $('div#DeviceModal').modal('hide');
    }

    $(".hotelsearch").click(function(event) {
        var hotelHid = $("input[name='hotelHid']").val().toUpperCase();
        if($.trim(hotelHid) == ""){
            $(".hotelHidval").show();
        }else{
            $(".hotelHidval").each(function(index, el) {
                if($(this).attr("val") == hotelHid){
                    $(this).show()
                }else{
                    $(this).hide();
                }
            });
        }
    });
	</script>
</block>