<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$vo['id']}">
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" id="title" placeholder="标题" class="col-xs-10 col-sm-5" value="{$vo['title']}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-6">内容</label>
                    <div class="col-sm-9">
                        <textarea name="content" id="content" placeholder="内容" class="col-xs-10 col-sm-5" rows="5">{$vo['content']}</textarea>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">推送</label>
                    <div class="col-sm-8" style="padding-top:0.5%;font-size: 14px;">
                        <input type="radio" name="sendmode" id="sendmode1" value="0"/ <if condition="$vo['sendmode'] eq 0">checked</if> >立即推送 &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="sendmode" id="sendmode2" value="1" <if condition="$vo['sendmode'] eq 1">checked</if> />定时推送
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group" id="sendtime" <if condition="$vo['sendmode'] eq 0">style="display:none;"</if> >
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">推送时间</label>
                    <div class="col-sm-9">
                        <span style="padding-top:0.5%;font-size: 14px;">该消息将于</span>
                        <input placeholder=" 年 / 月 / 日 " class="date" name="senddate" value="{$senddate}" type="text" data-date-format="yyyy-mm-dd" style="width: 150px;" /><span style="padding-right: 10px;"></span>
                        <select name="sendhour" style="width:80px;margin-right:5px;">
                            <volist name="hour" id="sh">
                              <option value="{$sh}" <if condition="$sendhour eq $sh">selected</if> >{$sh}</option>
                            </volist>
                        </select>
                        <span style="padding-top:5px;">：</span>
                        <select name="sendminute" style="width:80px;margin-right:5px;">
                            <volist name="minute" id="sm">
                              <option value="{$sm}" <if condition="$sendminute eq $sm">selected</if>>{$sm}</option>
                            </volist>
                        </select>
                        <span style="padding-top:5px;" class="text-error">开始推送</span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">时间限制</label>
                    <div class="col-sm-9">
                        <span style="padding-top:0.5%;font-size: 14px;">消息推送后，在</span>
                        <input placeholder=" 年 / 月 / 日 " class="date" name="date" value="{$enddate}" type="text" data-date-format="yyyy-mm-dd" style="width: 150px;" /><span style="padding-right: 10px;"></span>
                        <select name="hour" style="width:80px;margin-right:5px;">
                            <volist name="hour" id="sh">
                              <option value="{$sh}" <if condition="$endhour eq $sh">selected</if>>{$sh}</option>
                            </volist>
                        </select>
                        <span style="padding-top:5px;">：</span>
                        <select name="minute" style="width:80px;margin-right:5px;">
                            <volist name="minute" id="sm">
                              <option value="{$sm}" <if condition="$endminute eq $sm">selected</if>>{$sm}</option>
                            </volist>
                        </select>
                        <span style="padding-top:5px;" class="text-error">之前有效，超过时间将作废。</span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7"></label>
                    <div class="col-sm-9">
                        <span class="btn btn-primary fileinput-button" style="text-align:left;">
                            <span id="chooseHotel"><i class="ace-icon fa fa-search bigger-100"></i>&nbsp;选择酒店</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7"></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="hidlist" value="{$vo['hidlist']}" />
                        <textarea name="hotel" id="intro" readonly="true" class="col-xs-10 col-sm-5" rows="5">{$vo['hotelname']}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- 显示选择酒店模态框（HotelModal） -->
    <div class="modal fade" id="HotelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form class="form-horizontal ajaxForm2" name="setbackgroud" method="post" action="{:U('setSleepImage')}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">选择要推送消息的酒店</h4>
                            （不选择则默认全部酒店）
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><input type="checkbox" name="allHotel" id="allHotel" class="checkHotelAll" value="allHotel" >&nbsp;&nbsp;全部</h4>
                                        </div>
                                    </div>
                                    <volist name="menuTree" id="list">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <input type="checkbox" name="r[]" id="list_{$list.id}" class="checkAccessAll" value="{$list.id}" >&nbsp;&nbsp;{$list.name}
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{$list.id}" style="float:right;">展开/折叠 </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{$list.id}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <volist name="list['sub']" id="sub">
                                                <label class="checkbox inline" style="padding-left: 30px;">
                                                    <input type="checkbox" name="eHotel" cid="list_{$list.id}" class="checkAccessSingle" value="{$sub.hid}" hotelname="{$sub.hotelname}" <if condition="$sub.isselect eq 1">checked</if> />{$sub.hotelname}
                                                </label>
                                                </volist>
                                            </div>
                                        </div>
                                    </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="selectedHotel()">提交</button>
                        <button class="btn btn-info" type="reset" id="restimage">重置</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->

            
        </form>
    </div>
    <!--  / .HotelModal-->
</block>
<block name="currentPageJS">
<script src="__PUBLIC__/hyadmin/js/date-time/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(function(){
        $(".panel-collapse").collapse({
            toggle:false
        });      
    });
    jQuery(function($){
        $('.date').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
    });
    $(function () {
        $(".btn-info.submit").click(function(){
            var title = $("#title").val();
            var content = $("#content").val();
            if(title==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "标题必须填写！", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(content==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "内容必须填写！", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            $("#hid").attr('disabled', false);
            $("#form").submit();
        });

        $("#sendmode1").click(function() {
            var now = new Date();
            var $senddate = now.getFullYear()+"-"+((now.getMonth()+1)<10?"0":"")+(now.getMonth()+1)+"-"+(now.getDate()<10?"0":"")+now.getDate();
            $("input[name=senddate]").val($senddate);
            $("select[name=sendhour]").val("00");
            $("select[name=sendminute]").val("00");
            $("#sendtime").hide();
        });
        $("#sendmode2").click(function() {
            $("#sendtime").show();
        });

        //选择酒店静态模板
        $("#chooseHotel").click(function(){
            $('div#HotelModal').modal('show');  
        });

        $("input[type=checkbox].checkHotelAll").on("click",function(){
            var ischeck = this.checked;
            $.each($("input.checkAccessSingle"),function(i,item){
                item.checked=ischeck;
            });
            $.each($("input.checkAccessAll"),function(i,item){
                item.checked=ischeck;
            });
        });
        $("input[type=checkbox].checkAccessAll").on("click",function(){
            var ischeck = this.checked;
            $.each($("input[cid="+this.id+"].checkAccessSingle"),function(i,item){
                item.checked=ischeck;
            });
        });
        $("input[type=checkbox].checkAccessSingle").on("click",function(){
            var ischeck = false;
            $checkbocparent = $("input[id='"+$(this).attr('cid')+"']");
            $.each($("input[cid="+$(this).attr('cid')+"].checkAccessSingle"),function(i,item){
                if(item.checked==true){
                    ischeck=true;
                }
            });
            if(ischeck==true){
                $checkbocparent.prop('checked', true);
            }else{
                $checkbocparent.prop('checked', false);
            }
        });    
    });

    function selectedHotel(){
        var hotelIDs=[];
        var hotelNames=[];
        var i=0;
        var allischecked = $("input[type=checkbox].checkHotelAll").is(':checked');//所有选中
        $("input[type=checkbox].checkAccessSingle ").each(function(){
            if(this.checked){
                hotelIDs[i]=$(this).val();
                hotelNames[i]=$(this).attr('hotelname');
                i++;
            }
        });
        if(hotelNames.join()=="" || hotelNames.join()=="NULL" || allischecked){
            $("textarea[name=hotel]").val("全部酒店");
        }else{
            $("textarea[name=hotel]").val(hotelNames.join());
        }
        if(hotelNames.join()=="" || hotelNames.join()=="NULL" || allischecked){
            $("input[name=hidlist]").val("all");
        }else{
            $("input[name=hidlist]").val(hotelIDs.join());
        }
        $('div#HotelModal').modal('hide');
    }
    </script>
</block>