<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}?pid={$_REQUEST['pid']}&p={$_REQUEST['p']}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}?p={$_REQUEST['p']}">
                <input type="hidden" name="id" value="{$vo.id}" />
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">上级行政区划</label>
                    <div class="col-sm-9">
                        <input type="text" name="pnode" id="pnode" class="col-xs-10 col-sm-5" value="{$pnode}" readonly>
                        <input type="hidden" name="pid" value="{$vo.pid}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">上级行政区划，不可改</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" id="name" placeholder="名称" class="col-xs-10 col-sm-5" value="{$vo.name}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填(行政区划名称)</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">地区代码</label>
                    <div class="col-sm-9">
                        <input type="text" name="code" id="code" placeholder="地区代码" class="col-xs-10 col-sm-5" value="{$vo.code}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填(地区代码，从中国天气网获取)</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">排序值</label>
                    <div class="col-sm-9">
                        <input type="text" name="sort" id="sort" placeholder="排序值" class="col-xs-10 col-sm-5" value="{$vo.sort}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">同一级行政区划的排序</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">经度</label>
                    <div class="col-sm-9">
                        <input type="text" name="longitude" id="longitude" placeholder="经度" class="col-xs-10 col-sm-5" value="{$vo.longitude}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">地理经度</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">纬度</label>
                    <div class="col-sm-9">
                        <input type="text" name="latitude" id="latitude" placeholder="纬度" class="col-xs-10 col-sm-5" value="{$vo.latitude}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">地理纬度</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
	<script type="text/javascript">
	$(function() {
		$(".btn-info.submit").click(function(){
			var name = $("#name").val();
			var codevalue = $("#code").val();
			if(name==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "行政区划名称必须填写！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			if(code==''){
				bootbox.dialog({
					title: '友情提示：',
					message: "地区代码必须填写！", 
					buttons: {
						"success" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
				return;
			}
			$("#form").submit();
		});
	});
	</script>
</block>