<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-0">酒店</label>
                    <div class="col-sm-9">
                        <if condition="$personhid neq ''">
                        <select id="hid" name="hid" class="col-xs-10 col-sm-5 select2">
                            <option value=""></option>
                            <volist name="personhid" id="phid">
                            <option value="{$phid}" <if condition="$hid eq $phid">selected</if> >{$phid|getHotelnameByHid}</option>
                            </volist>
                        </select>
                        <else />
                        <select id="hid" name="hid" class="col-xs-10 col-sm-5 select2">
                            <option></option>
                            {$pHotel}
                        </select>
                        </if>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>跳转设置所属酒店，必选</span>
                        </span>
                     </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">跳转设置</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" name="isjump" value="0" checked >（1）</label></span>
                        <span><label style="width:480px;">开机后，停留在欢迎页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" name="isjump" value="1" >（2）</label></span>
                        <span><label style="width:130px;">开机后，欢迎页停留</label></span>
                        <span><input type="text" name="staytime" value="-1" style="width:40px;"/></span>
                        <span><label style="width:240px;">&nbsp;秒后，自动跳过欢迎页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">跳转视频</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_1" name="video_set" value="0" checked >（1）</label></span>
                        <span><label style="width:480px;">欢迎页前后都不播放视频。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <!-- <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_2" name="video_set" value="1" >（2）</label></span>
                        <span><label style="width:480px;">欢迎页前插播视频。</label></span>
                    </div>
                </div>
                <div class="space-4"></div> -->
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_2" name="video_set" value="1" >（2）</label></span>
                        <span><label style="width:480px;">跳过欢迎页后，插播视频，再进入主页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_3" name="video_set" value="3" >（3）</label></span>
                        <span><label style="width:480px;">强制播放视频后再进入主页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                
                <div id="upload_video_file" style="display:none;">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-4">视频文件</label>
                    <div class="col-sm-9" >
                        <a id="showfilename"  href="" target="_blank"></a>
                        <input type="hidden" name="filepath" value="">
                        <input type="hidden" name="size" id="size" value="">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-5">文件上传</label>
                    <div class="col-sm-9">
                        <span class="btn btn-success fileinput-button" style="text-align:left;">
                            <span>请选择文件&nbsp;&nbsp;<i class="icon-upload icon-white"></i></span>
                            <input id=fileupload name="fileupload"  type="file" name="fileupload" />
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-8">&nbsp;</label>
                    <div class="col-sm-9">
                        <span class="col-xs-10 col-sm-12">目前视频支持mp4格式</span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-6">上传进度</label>
                    <div class="col-sm-9" style="width:40%;">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0">
                            <div id="weixin_progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div> 
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                </div>
                
               
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
<script type="text/javascript">
	$('#hid').select2({ placeholder : '--请选择--' });
	$(function () {
		$("#video_set_1").click(function() {
	        $("input[name=filepath]").val("");
	        $("#upload_video_file").hide();
	    });
	    $("#video_set_2").click(function() {
	        $("#upload_video_file").show();
	    });
	    $("#video_set_3").click(function() {
	        $("#upload_video_file").show();
	    });
		$("#fileupload").fileupload({
            url: "{:U('upload?name=fileupload')}",
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) {  
        	var json = data.result;
            console.log(json);
        	if(json.status==1){
    			$("input[name=filepath]").val(json.storename);
                $("#size").val(json.size);
    			$("a#showfilename").attr("href","{:C('UPLOADPATH')}"+json.storename);
    			$("a#showfilename").text(json.storename);
    		}else if(json.status == 0){
                $("#weixin_progress").css('width','0');  
                $("#weixin_progress").html('0');
            }
        	mainAjaxMsg(json.status,json.info);
        }).bind('fileuploadprogress', function (e, data) {  
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#weixin_progress").css('width',progress + '%');  
            $("#weixin_progress").html(progress + '%');  
        });
		$(".btn-info.submit").click(function(){
            var hid = $("#hid").val();
            var video_set = $("input[name='video_set']:checked").val();
            var filepath = $("input[name=filepath]").val();
            var isjump = $("input[name='isjump']:checked").val();
            var staytime = $("input[name='staytime']").val();
            var re = /^[1-9]\d*|0$/;
            if(hid==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "所属酒店必须选择", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(isjump>0 && !re.test(staytime)){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "停留时间需为正整数或0", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(video_set>0 && filepath == ''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "请上传跳转资源", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
			$("#form").submit();
		});
	});
	</script>
</block>