<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$vo.id}" />
                <input type="hidden" name="hid" value="{$vo.hid}" />
                <input type="hidden" name="filepath" value="{$vo.filepath}">
                <input type="hidden" name="size" id="size" value="{$vo.size}">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">酒店 </label>
                    <div class="col-sm-9">
                        <input type="text" readonly="true" value="{$hotelname}" />
                     </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">跳转设置</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" name="isjump" value="0" <eq name="vo.isjump" value="0">checked</eq> >（1）</label></span>
                        <span><label style="width:480px;">开机后，停留在欢迎页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" name="isjump" value="1" <eq name="vo.isjump" value="1">checked</eq> >（2）</label></span>
                        <span><label style="width:130px;">开机后，欢迎页停留</label></span>
                        <span><input type="text" name="staytime" value="{$vo.staytime}" style="width:40px;"/></span>
                        <span><label style="width:240px;">&nbsp;秒后，自动跳过欢迎页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">跳转视频</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_1" name="video_set" value="0" <eq name="vo.video_set" value="0">checked</eq> >（1）</label></span>
                        <span><label style="width:480px;">欢迎页前后都不播放视频。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_2" name="video_set" value="1" <eq name="vo.video_set" value="1">checked</eq> >（2）</label></span>
                        <span><label style="width:480px;">跳过欢迎页后，插播视频，再进入主页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">&nbsp;&nbsp;</label>
                    <div class="col-sm-9">
                        <span><label style="width:50px;"><input type="radio" id="video_set_3" name="video_set" value="3" <eq name="vo.video_set" value="3">checked</eq> >（3）</label></span>
                        <span><label style="width:480px;">强制播放视频后再进入主页。</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">特殊设置</label>
                    <div class="col-sm-9">
                        <span><label style="width:20px;">
                            <input type="radio" class="timing_set" name="timing_set" value="0" <if condition="$vo.timing_set eq 0">checked</if> >
                        </label></span>
                        <span><label style="width:120px;">不做定时设置</label></span>
                        <span><label style="width:20px;">
                            <input type="radio" class="timing_set" name="timing_set" value="1" <if condition="$vo.timing_set eq 1">checked</if>>
                        </label></span>
                        <span><label style="width:80px;">定时设置</label></span>
                    </div>
                </div>
                <div class="space-4"></div>
                    <div class="form-group" id="setting_time" <if condition="$vo['timing_set'] eq 0"> style="display:none;" </if> >
                    <label class="col-sm-1 control-label no-padding-right">具体日期:</label>
                    <div class="col-sm-9">
                        <input class="date" name="setting_time" type="text" data-date-format="yyyy-mm-dd" style="width: 150px;" value="{$vo.sdate}" />
                        <select name="shour" style="width:80px;margin-right:5px;">
                            <volist name="hour" id="sh">
                                <option value="{$sh}" <if condition="$vo.sh eq $sh">selected</if> >{$sh}</option>
                            </volist>
                        </select>
                        <select name="sminute" style="width:80px;margin-right:5px;">
                            <volist name="minute" id="sm">
                                <option value="{$sm}" <if condition="$vo.sm eq $sm">selected</if> >{$sm}</option>
                            </volist>
                        </select>
                        <select name="ssecond" style="width:80px;margin-right:5px;">
                            <volist name="second" id="ss">
                                <option value="{$ss}" <if condition="$vo.ss eq $ss">selected</if> >{$ss}</option>
                            </volist>
                        </select>
                    </div>
                </div>

                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
    <script src="__PUBLIC__/hyadmin/js/date-time/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    jQuery(function($){
        $('.date').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
    });
    $(".timing_set").click(function(){
        var timing_set_val = $(this).val();
        if(timing_set_val == 1){
            $("#setting_time").show();
        }else{
            $('#setting_time').hide();
        }
    });

	$(function () {
		$(".btn-info.submit").click(function(){

            var isjump = $("input[name='isjump']:checked").val();
            var staytime = $("input[name='staytime']").val();
            var re = /^[1-9]\d*|0$/;
            if(isjump>0 && !re.test(staytime)){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "停留时间需为正整数或0", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            
            $("#form").submit();
        });
	});
	</script>
</block>