<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-0">酒店 </label>
                    <div class="col-sm-9">
                        <if condition="$personhid neq ''">
                        <select id="hid" name="hid" class="col-xs-10 col-sm-5 select2">
                            <option value=""></option>
                            <volist name="personhid" id="phid">
                            <option value="{$phid}" <if condition="$hid eq $phid">selected</if> >{$phid|getHotelnameByHid}</option>
                            </volist>
                        </select>
                        <else />
                        <select id="hid" name="hid" class="col-xs-10 col-sm-5 select2">
                            <option></option>
                            {$pHotel}
                        </select>
                        </if>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填欢迎图片所属酒店，必选。</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-1">资源标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" id="title" placeholder="资源标题" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-2">资源描述</label>
                    <div class="col-sm-9">
                        <textarea name="intro" id="intro" placeholder="资源描述" class="col-xs-10 col-sm-5" rows="5"></textarea>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-3">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="sort" id="sort" placeholder="排序值" class="col-xs-10 col-sm-5" value="">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-4">资源图片</label>
                    <div class="col-sm-9" >
                        <img id="image" class="img-polaroid" src="" style="width:240px;height:135px;background:#ccc;" />
                        <input type="hidden" id="filepath" name="filepath" value="">
                        <input type="hidden" name="size" id="size" value="">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-5">图片上传</label>
                    <div class="col-sm-9">
                        <span class="btn btn-success fileinput-button" style="text-align:left;">
                            <span>请选择图片&nbsp;&nbsp;<i class="icon-upload icon-white"></i></span>
                            <input id="fileupload" name="fileupload"  type="file" />
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-6">&nbsp;</label>
                    <div class="col-sm-9">
                        <span class="col-xs-10 col-sm-12">目前支持'jpg'，'png'，'jpeg'格式的图片</span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right" for="form-field-7">上传进度</label>
                    <div class="col-sm-9" style="width:40%;">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0">
                            <div id="weixin_progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div> 
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
<script type="text/javascript">
	$('#hid').select2({ placeholder : '--请选择--' });
    $("#fileupload").click(function(event) {
        var $hid = $("#hid").val();
        $url =  "{:U('upload')}?name=fileupload&hid="+$hid;
		$(this).fileupload({
            url: $url,
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) {  //fileuploaddone 上传结束后执行的操作
        	var json = data.result;
        	if(json.status==1){
    			$("input[name=filepath]").val(json.storename);
                $("#size").val(json.size);
    			$("img#image").attr("src","{:C('UPLOADPATH')}"+json.storename);
    		}else if(json.status == 0){
                $("#weixin_progress").css('width','0');  
                $("#weixin_progress").html('0');
            }
        	mainAjaxMsg(json.status,json.info); //上传弹出提示
        }).bind('fileuploadprogress', function (e, data) {   //fileuploadprogress：主要是进度条的修改
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#weixin_progress").css('width',progress + '%');  
            $("#weixin_progress").html(progress + '%');  
        });
    });
		
    $("#hid").change(function() {
        var $filepath = $("#filepath").val();
        $("#filepath").attr('value', '');
        $("#weixin_progress").css('width',0 + '%');  
        $("#weixin_progress").html(0 + '%');  
        $("#image").attr('src', '');
        $(".alert-success").remove();
        if($.trim($filepath) != ""){
            $.ajax({
                url: "{:U('delfilepath')}",
                type: 'POST',
                dataType: 'json',
                data: {"filepath": $filepath},
            })
            .done(function() {
                console.log("success");
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        }
    });

	$(".btn-info.submit").click(function(){
        var hid = $("#hid").val();
		var title = $("#title").val();
		var filepath = $("#filepath").val();
        if(hid==''){
            bootbox.dialog({
                title: '友情提示：',
                message: "所属酒店必须选择", 
                buttons: {
                    "success" : {
                        "label" : "确定",
                        "className" : "btn-danger"
                    }
                }
            });
            return;
        }
		if(title==''){
			bootbox.dialog({
				title: '友情提示：',
				message: "资源标题必须填写！", 
				buttons: {
					"success" : {
						"label" : "确定",
						"className" : "btn-danger"
					}
				}
			});
			return;
		}
		if(filepath==''){
			bootbox.dialog({
				title: '友情提示：',
				message: "请上传图片文件！", 
				buttons: {
					"success" : {
						"label" : "确定",
						"className" : "btn-danger"
					}
				}
			});
			return;
		}
		$("#form").submit();
	});
	</script>
</block>