<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('update')}">
                <input type="hidden" name="id" value="{$vo.id}" />
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-0">所属酒店</label>
                    <div class="col-sm-8">
                        <select id="hid" name="hid"  class="col-xs-10 col-sm-5 select2" >
                            <option></option>
                            {$pHotel}
                        </select>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>必选</span>
                        </span>
                     </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">房间号</label>
                    <div class="col-sm-8">
                        <input type="text" name="room" id="room" placeholder="房间号" class="col-xs-10 col-sm-5" value="{$vo.room}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red">*</span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">详细地址备注</label>
                    <div class="col-sm-8">
                        <input type="text" name="room_remark" id="room_remark" placeholder="详细地址备注" class="col-xs-10 col-sm-5" value="{$vo.room_remark}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"></span></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-2">MAC地址</label>
                    <div class="col-sm-8">
                        <input type="text" name="mac" id="mac" placeholder="MAC地址" class="col-xs-10 col-sm-5" value="{$vo.mac}" readonly>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-3">平台服务器地址</label>
                    <div class="col-sm-8">
                        <input type="text" name="server_url" id="server_url" placeholder="平台服务器地址" class="col-xs-10 col-sm-5" value="{$vo.server_url}">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-4">IPTV接入模式</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_mode" id="itv_mode" placeholder="IPTV接入模式" class="col-xs-10 col-sm-5" value="{$vo.itv_mode}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-5">IPTV的PPPOE账号</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_pppoe_user" id="itv_pppoe_user" placeholder="IPTV的PPPOE账号" class="col-xs-10 col-sm-5" value="{$vo.itv_pppoe_user}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-6">IPTV的PPPOE密码</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_pppoe_pwd" id="itv_pppoe_pwd" placeholder="IPTV的PPPOE密码" class="col-xs-10 col-sm-5" value="{$vo.itv_pppoe_pwd}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-7">IPTV中PPPOE模式下的IP</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_pppoe_ip" id="itv_pppoe_ip" placeholder="IPTV中PPPOE模式下的IP" class="col-xs-10 col-sm-5" value="{$vo.itv_pppoe_ip}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-8">IPTV中DHCP模式下的IP</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_dhcp_ip" id="itv_dhcp_ip" placeholder="IPTV中DHCP模式下的IP" class="col-xs-10 col-sm-5" value="{$vo.itv_dhcp_ip}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-9">IPTV中DHCP+模式下的IP</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_dhcp_plus_ip" id="itv_dhcp_plus_ip" placeholder="IPTV中DHCP+模式下的IP" class="col-xs-10 col-sm-5" value="{$vo.itv_dhcp_plus_ip}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-10">IPTV中静态模式下的IP</label>
                    <div class="col-sm-8">
                        <input type="text" name="itv_static_ip" id="itv_static_ip" placeholder="IPTV中静态模式下的IP" class="col-xs-10 col-sm-5" value="{$vo.itv_static_ip}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-11">宽带DHCP模式下的IP</label>
                    <div class="col-sm-8">
                        <input type="text" name="wan_dhcp_ip" id="wan_dhcp_ip" placeholder="宽带DHCP模式下的IP" class="col-xs-10 col-sm-5" value="{$vo.wan_dhcp_ip}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-12">宽带静态模式下的IP</label>
                    <div class="col-sm-8">
                        <input type="text" name="wan_static_ip" id="wan_static_ip" placeholder="宽带静态模式下的IP" class="col-xs-10 col-sm-5" value="{$vo.wan_static_ip}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-13">VLAN状态</label>
                    <div class="col-sm-8">
                        <input type="text" name="vlan_status" id="vlan_status" placeholder="VLAN状态" class="col-xs-10 col-sm-5" value="{$vo.vlan_status}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-14">WIFI的SSID</label>
                    <div class="col-sm-8">
                        <input type="text" name="wifi_ssid" id="wifi_ssid" placeholder="WIFI的SSID" class="col-xs-10 col-sm-5" value="{$vo.wifi_ssid}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-15">WIFI密码</label>
                    <div class="col-sm-8">
                        <input type="text" name="wifi_passwd" id="wifi_passwd" placeholder="WIFI密码" class="col-xs-10 col-sm-5" value="{$vo.wifi_passwd}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-16">WIFI加密方式</label>
                    <div class="col-sm-8">
                        <input type="text" name="wifi_psk_type" id="wifi_psk_type" placeholder="WIFI加密方式" class="col-xs-10 col-sm-5" value="{$vo.wifi_psk_type}" readonly="true">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-field-17">备注</label>
                    <div class="col-sm-8">
                        <textarea name="intro" id="intro" placeholder="备注" class="col-xs-10 col-sm-5" rows="5" readonly="true">{$vo.intro}</textarea>
                    </div>
                </div>
                
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
	<script type="text/javascript">
	$('#hid').select2({ placeholder : '--请选择--' });
	$(function() {
		$(".btn-info.submit").click(function(){
            var hid = $("#hid").val();
            var room = $("#room").val();
            if(hid==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "所属酒店必选！", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(room==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "房间号必须填写！", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            $("#form").submit();
        });
	});
	</script>
</block>