<extend name="Public:layout"/>
<block name="page-content-row">
<style type="text/css">
    input[name='xmlfile']{border: 1px solid #BCBCBC;padding: 2px 20px;background: #FFF;cursor: pointer;height:28px;}
</style>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <form class="form-inline" action="{:U('index')}" method="post">
                    <div class="col-xs-10">
                    <label class="inline">酒店：</label>
                    <if condition="$personhid neq ''">
                    <select id="hid" name="hid" class="select2" style="width:300px;">
                      <option value=""></option>
                      <option value="hid-1gg">{查询所有}</option>
                      <volist name="personhid" id="phid">
                        <option value="{$phid}" <if condition="$hid eq $phid">selected</if> >{$phid|getHotelnameByHid}</option>
                      </volist>
                    </select>
                     <else />
                    <select id="hid" name="hid" class="select2" style="width:300px;">
                        <option></option>
                        <option value="hid-1gg">{查询所有}</option>
                        {$pHotel}
                    </select>
                    </if>
                    &nbsp;&nbsp;<label class="inline">房间号：</label>
                    <input type="text" name="room" class="form-control" placeholder="房间号" value="{$_REQUEST['room']}">
                    &nbsp;&nbsp;<label class="inline">MAC地址：</label>
                    <input type="text" name="mac" class="form-control" placeholder="MAC地址" value="{$_REQUEST['mac']}">
                    <button type="submit" class="btn btn-purple btn-sm">
                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>查询
                    </button>
                    </div>
                    <div class="col-xs-2">
                        <label class="inline">
                            <?php if(is_numeric($onlineNum)){ ?>
                                <font size="2em;" color="red">设备总数:{$theAllcount}，在线数:{$onlineNum}</font>
                            <?php } ?>
                        </label>
                    </div>
                </form>
            </div>
            <div class="space-8"></div>
            <div class="row">
                <a class="label label-xlg label-primary" href="{:U('add')}" ><i class="ace-icon fa fa-plus bigger-100"></i>&nbsp;添加</a>
                <a class="label label-xlg label-success" href="javascript:;" id="edit" val="{:U('edit')}" ><i class="ace-icon fa fa-pencil bigger-100"></i>&nbsp;修改</a>
                <a class="label label-xlg label-info" href="javascript:;" id="unlock" val="{:U('unlock')}" ><i class="ace-icon fa fa-unlock bigger-100"></i>&nbsp;启用</a>
                <a class="label label-xlg label-warning" href="javascript:;" id="lock" val="{:U('lock')}" ><i class="ace-icon fa fa-lock bigger-100"></i>&nbsp;禁用</a>
                <a class="label label-xlg label-danger" href="javascript:;" id="delete" val="{:U('delete')}" ><i class="ace-icon fa fa-trash-o bigger-100"></i>&nbsp;删除</a>
                <a class="label label-xlg label-pink" href="javascript:;" id="reboot" val="{:U('reboot')}" ><i class="ace-icon fa fa-repeat bigger-100"></i>&nbsp;重启</a>
                <a class="label label-xlg label-success" href="javascript:;" id="clearvolume" val="{:U('clearvolume')}" ><i class="ace-icon fa fa-repeat bigger-100"></i>&nbsp;清除内存</a>
                <a class="label label-xlg label-purple" href="javascript:;" id="modify_para" val="{:U('modify_para')}" ><i class="ace-icon fa fa-fire bigger-100"></i>&nbsp;下推参数</a>
                <a class="label label-xlg label-inverse" id="sleep_set" ><i class="ace-icon fa fa-wrench bigger-100"></i>&nbsp;休眠设置</a>
                <a class="label label-xlg label-yellow" href="javascript:;" id="detail" val="{:U('detail')}" ><i class="ace-icon fa fa-leaf bigger-100"></i>&nbsp;设备详情</a>
                <a class="label label-xlg label-pink" href="javascript:;" id="updateroomremarks" val="{:U('updateroomremarks')}"><i class="ace-icon fa fa-sort bigger-100"></i>&nbsp;更新详细地址备注</a>
                <a class="label label-xlg label-purple" href="javascript:;" id="apklist" val="{:U('getapklist_d')}" ><i class="ace-icon fa fa-list bigger-100"></i>&nbsp;APK列表信息</a>
                <!-- <a class="label label-xlg label-yellow" href="javascript:;" id="xmlpush"><i class="ace-icon fa fa-leaf bigger-100"></i>&nbsp;导入XML</a> -->
                <a class="label label-xlg label-yellow" href="javascript:;" id="outexcel" val="{:U('out_excel')}"><i class="ace-icon fa fa-leaf bigger-100"></i>&nbsp;导出Excel</a>
            </div>
            <div class="space-8"></div>
            <div class="row">
                <form id="form" method="post" action="">
                    <input type="hidden" name="ajaxDetail" value="" />
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th class="center"><input class="check-all" type="checkbox" value=""></th>
                          <th>酒店</th>
                          <th>房间号</th>
                          <th class="col-sm-2">详细地址备注</th>
                          <th>MAC地址</th>
                          <th>软件版本</th>
                          <th>型号</th>
                          <th>是否在线</th>
                          <th>休眠设置</th>
                          <th>休眠时段</th>
                          <th>最近一次指令</th>
                          <th>指令执行结果</th>
                          <!-- <th>最近访问时间</th> -->
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="list" id="val">
                        <tr>
                          <td class="center"><input class="aids" type="checkbox" name="ids[]" value="{$val['id']}"></td>
                          <td>{$val['hid']|getHotelnameByHid}</td>
                          <td>{$val['room']}</td>
                          <td><input type="text" name="room_remark" class="room_remark" rowid="{$val['id']}" value="{$val['room_remark']}"></td>
                          <td>{$val['mac']}</td>
                          <td>{$val['firmware_version']}</td>
                          <td>{$val['dev_desc']}</td>
                          <td>{$val['online']|get_is_online}</td>
                          <td>{$val['sleep_status']|get_status}</td>
                          <td>{$val['sleep_time']}</td>
                          <td>{$val['command']|get_command_name}</td>
                          <td>{$val['command_result']|get_command_result}</td>
                          <!-- <td>{$val['last_login_time']|format_timestamp}</td> -->
                        </tr>
                      </volist>
                      </tbody>
                    </table>
                </form>
                {$page}
            </div>
        </div>
    </div>
    <!-- 显示模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form class="form-horizontal ajaxForm2" name="sleep_set" method="post" action="{:U('sleep_set')}">
            <input type="hidden" name="device_ids" value="" />
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">休眠设置</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">休眠状态： </label>
                                    <div class="col-sm-10" style="padding-top:7px;">
                                        <input type="radio" name="sleep_status" value="1" >开启
                                        <input type="radio" name="sleep_status" value="0" >关闭
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">WIFI状态： </label>
                                    <div class="col-sm-10" style="padding-top:7px;">
                                        <input type="radio" name="wifi_order" value="1" checked="true">开启
                                        <input type="radio" name="wifi_order" value="0" >关闭
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">开始时间：  </label>
                                    <div class="col-sm-10">
                                        <span style="padding-top:5px;" class="text-error">设备于</span>
                                        <select name="starthour" style="width:80px;margin-right:5px;">
                                            <volist name="hour" id="sh">
                                                <option value="{$sh}">{$sh}</option>
                                            </volist>
                                        </select>
                                        <span style="padding-top:5px;">:</span>
                                        <select name="startminute" style="width:80px;margin-right:5px;">
                                            <volist name="minute" id="sm">
                                                <option value="{$sm}">{$sm}</option>
                                            </volist>
                                        </select>
                                        <span style="padding-top:5px;" class="text-error">开始休眠</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">结束时间：  </label>
                                    <div class="col-sm-10">
                                        <span style="padding-top:5px;" class="text-error">休眠至</span>
                                        <select name="endhour" style="width:80px;margin-right:5px;">
                                            <volist name="hour" id="h">
                                                <option value="{$h}">{$h}</option>
                                            </volist>
                                        </select>
                                        <span style="padding-top:5px;">:</span>
                                        <select name="endminute" style="width:80px;margin-right:5px;">
                                            <volist name="minute" id="m">
                                                <option value="{$m}">{$m}</option>
                                            </volist>
                                        </select>
                                        <span style="padding-top:5px;" class="text-error">自动重启。</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                	<label class="col-sm-2 control-label no-padding-right" for="form-field-1">提示语：  </label>
                                	<div class="col-sm-10">
                                		<input type="text" name="sleep_marked_word">
                                	</div>                    
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                	<label class="col-sm-2 control-label no-padding-right" for="form-field-1">休眠倒计时：</label>
                                	<div class="col-sm-10">
                                		<span><input type="text" name="sleep_countdown_time"></span>
                                		<span style="padding-top:5px;" class="text-error">(秒)</span>
                                	</div>                    
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                	<label class="col-sm-2 control-label no-padding-right" for="form-field-1">选择背景图：</label>
                                	<div class="col-sm-10">
                                		<select class="macimageselect" name="macimageid" style="width:80px;margin-right:5px;">
                                			<volist name="imageinfo" id="i">  
                        						<option value="{$i['id']}" name="{$i['image_path']}" <eq name="onemessage['sleep_imageid']" value="$i['id']">selected</eq>
                        						>{$i['image_name']}</option>
                   							</volist>
                                		</select>
                                	</div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                	<label class="col-sm-2 control-label no-padding-right" for="form-field-4">图片：</label>
				                    <div class="col-sm-10" >
                                        <img id="selectimage" class="img-polaroid" src="{:C('UPLOADPATH')}{$imageinfo['0']['image_path']}" style="width:240px;height:135px;background:#ccc;" />
				                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button class="btn btn-info" type="reset">重置</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->

    <!-- 显示上传图片模态框（ImageModal） -->
    <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form class="form-horizontal ajaxForm2" name="setbackgroud" method="post" action="{:U('setSleepImage')}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">设置休眠背景图</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="space-4"></div>
				                <div class="form-group">
				                    <label class="col-sm-2 control-label no-padding-right" for="form-field-4">资源图片</label>
				                    <div class="col-sm-9" >
				                        <img id="image" class="img-polaroid" src="" style="width:240px;height:135px;background:#ccc;" />
				                        <input type="hidden" id="filepath" name="filepath" value="">
				                    </div>
				                </div>
				                <div class="space-4"></div>
				                <div class="form-group">
				                	<label class="col-sm-2 control-label no-padding-right" for="form-field-4">图片名称</label>
				                	<div class="col-sm-9">
				                		<input type="text" name="image_name" value="">
				                	</div>
				                </div>
				                <div class="space-4"></div>
				                <div class="form-group">
				                    <label class="col-sm-2 control-label no-padding-right" for="form-field-5">图片上传</label>
				                    <div class="col-sm-9" style="padding-top: 1%;">
				                        <span class="btn btn-success fileinput-button" style="text-align:left;">
				                            <span>请选择图片&nbsp;&nbsp;<i class="icon-upload icon-white"></i></span>
				                            <input id="fileupload" name="fileupload"  type="file" />
				                        </span>
				                    </div>
				                </div>
				                <div class="space-4"></div>
				                <div class="form-group">
				                    <label class="col-sm-2 control-label no-padding-right" for="form-field-6">&nbsp;</label>
				                    <div class="col-sm-9">
				                        <span class="col-xs-10 col-sm-12">目前支持'jpg'，'png'，'jpeg'格式的图片</span>
				                    </div>
				                </div>
				                <div class="space-4"></div>
				                <div class="form-group">
				                    <label class="col-sm-2 control-label no-padding-right" for="form-field-7">上传进度</label>
				                    <div class="col-sm-9" style="width:40%;padding-top: 1%;">
				                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="10" aria-valuemax="100" aria-valuenow="0">
				                            <div id="weixin_progress" class="progress-bar progress-bar-success" style="width:0%;"></div>
				                        </div> 
				                        <span class="help-inline col-xs-12 col-sm-7">
				                            <span class="middle"></span>
				                        </span>
				                    </div>
				                </div>
                                <div class="space-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="sleepbg_submit" class="btn btn-primary">提交</button>
                        <button class="btn btn-info" type="reset" id="restimage">重置</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div>
    <!--  / .ImageModal-->

    <!--XML导入模态框 (XMLModal)-->
     <div class="modal fade" id="XMLModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <form class="form-horizontal ajaxForm2" name="pushxml" method="post" action="{:U('pushxml')}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">XML导入</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">XML上传：</label>
                                <div class="col-sm-9">
                                    <input type="file" name="xmlfile" id="xmlfile" class="col-sm-9">
                                    <span class="col-sm-3"><input type="text" readonly="true" name="" id="uploadsuccess" style="width: 80px;height: 28px;text-align: center;" value="未上传"></span>
                                </div>
                                <input type="hidden" name="xmlpath" value="">
                                <input type="hidden" name="xmlid" class="xmlid" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="xmlsubmit">提交</button>
                    <button class="btn btn-info" type="reset" id="xmlrest">重置</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
     </form>
     </div>
    <!---/ .XMLModal-->
</block>
<block name="currentPageJS">
    <script type="text/javascript">
    $('#hid').select2({ placeholder : '--请选择--' });
    $(function(){
		$(".check-all").click(function(){
			$(".aids").prop("checked", this.checked);
		});
		$(".aids").click(function(){
			var option = $(".aids");
			option.each(function(i){
				if(!this.checked){
					$(".check-all").prop("checked", false);
					return false;
				}else{
					$(".check-all").prop("checked", true);
				}
			});
		});
		$("#edit").click(function(){
            var len = $("input[name='ids[]']:checked").length;
            if(len!=1){
                bootbox.confirm({
                title: "系统提示",
                message: "仅能对一条数据进行操作", 
                callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
			$("#form").attr("action",$("#edit").attr("val"));
			$("#form").submit();
		});
		$("#unlock").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要启用所选设备？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#unlock").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#lock").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要禁用所选设备？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#lock").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#delete").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要删除所选设备？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#delete").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#reboot").click(function(){
            var len = $("input[name='ids[]']:checked").length;
            if(len == 0){
                self.location = "{:U('rebootIndex')}";
            }else{
                bootbox.confirm({
                    title: "系统提示",
                    message: "是否要重启所选设备？", 
                    callback:function(result){
                        if(result){
                            $("#form").attr("action",$("#reboot").attr("val"));
                            $("#form").submit();
                        }
                    },
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                                "label" : "确定",
                                "className" : "btn-danger"
                            }
                    }
                });
            }
            
        });
        $("#clearvolume").click(function(){
            var len = $("input[name='ids[]']:checked").length;
            if(len == 0){
                self.location = "{:U('clearvolumeIndex')}";
            }else{
                bootbox.confirm({
                    title: "系统提示",
                    message: "是否要清除内存所选设备？", 
                    callback:function(result){
                        if(result){
                            $("#form").attr("action",$("#clearvolume").attr("val"));
                            $("#form").submit();
                        }
                    },
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                                "label" : "确定",
                                "className" : "btn-danger"
                            }
                    }
                });
            }
            
        });
		$("#modify_para").click(function(){
            var len = $("input[name='ids[]']:checked").length;
            if(len == 0){
                self.location = "{:U('modifyParaIndex')}";
            }else{
    			bootbox.confirm({
    				title: "系统提示",
    				message: "是否下推参数到所选设备？", 
    				callback:function(result){
    					if(result){
    						$("#form").attr("action",$("#modify_para").attr("val"));
    						$("#form").submit();
    					}
    				},
    				buttons: {
    					"cancel" : {"label" : "取消"},
    					"confirm" : {
    							"label" : "确定",
    							"className" : "btn-danger"
    						}
    				}
    			}); 
            }
		});
		$("#sleep_set").click(function(){
			$('div#myModal').modal('hide');
			var chk_value =[]; 
            $('input[type="checkbox"]:checked').each(function(){ 
                if($(this).val()){
                	chk_value.push($(this).val());
                }
            });

            if(chk_value.length<1){
                self.location = "{:U('sleepSetIndex')}";
            }else if(chk_value.length==1){
                var deviceid = chk_value[0];
				$.ajax({
					url: "{:U('toSetSleep')}",
					type: 'POST',
					data: {'deviceid': deviceid},
				})
				.done(function(data) {
                    if(data){
                        var result = eval(data)['0'];
                        $("input[name='sleep_status']").each(function() {
                            if($(this).val() == result['sleep_status']){
                                $(this).attr('checked', 'checked');
                            }
                        });
                        $("input[name='wifi_order']").each(function() {
                            if($(this).val() == result['wifi_order']){
                                $(this).attr('checked', 'checked');
                            }
                        });
                        if(result['sleep_time']){
                            $("select[name='starthour'] option[value='"+result['starttime_h']+"']").attr('selected', 'selected');
                            $("select[name='startminute'] option[value='"+result['starttime_m']+"']").attr('selected', 'selected');
                            $("select[name='endhour'] option[value='"+result['endtime_h']+"']").attr('selected', 'selected');
                            $("select[name='endminute'] option[value='"+result['endtime_m']+"']").attr('selected', 'selected');
                        }
                        $("input[name='sleep_marked_word']").val(result['sleep_marked_word']);
                        $("input[name='sleep_countdown_time']").val(result['sleep_countdown_time']);
                        $("select[name='macimageid'] option[value='"+result['sleep_imageid']+"']").attr('selected', 'selected');
                        $("#selectimage").attr('src', '{:C('UPLOADPATH')}'+result['image_path']);
                    }
                    
				})
				.fail(function(data) {
					console.log('error');
				});
				$("input[name=device_ids]").val(chk_value.join());
                $('div#myModal').modal('show');
				
			}else if(chk_value.length>1){
				$("input[name=device_ids]").val(chk_value.join());
				$('div#myModal').modal('show');
			}
		});
		//新增  上传休眠设置背景图
		$("#upload_sleep").click(function(){
			$('div#ImageModal').modal('show');	
		});
        //新增  上传XML
        $("#xmlpush").click(function(){
            $('div#XMLModal').modal('show');
        });
		$("#detail").click(function(){
			var chk_value =[]; 
            $('input[type="checkbox"]:checked').each(function(){ 
            	if($(this).val()){
                    chk_value.push($(this).val());
                }  
            });
			if(chk_value.length>1){
				bootbox.confirm({
					title: "系统提示",
					message: "设备详情只展示一条信息，请不要多选！", 
					callback:function(result){},
					buttons: {
						"cancel" : {"label" : "取消"},
						"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
					}
				});
			}else if(chk_value.length<1){
				bootbox.confirm({
					title: "系统提示",
					message: "请选择要查看详情的设备！", 
					callback:function(result){},
					buttons: {
						"cancel" : {"label" : "取消"},
						"confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
            }else{
                var timestamp  = Date.parse(new Date()); 
                var url = $("#detail").attr("val")+"?id="+chk_value[0]+"&timestamp";
                $.ajax({
                    url:url,
                    dataType:"json",
                    success:function(json){
                        var str = "";
                        str += "<p><strong>基本信息</strong></p>";
                        str += "<p>MAC地址："+json.mac+"</p>";
                        str += "<p>所在酒店："+json.hid+"</p>";
                        str += "<p>房间号："+json.room+"</p>";
                        str += "<p>服务器地址："+json.server_url+"</p>";
                        str += "<p>是否在线："+json.online+"</p>";
						str += "<p>访问接口时间："+json.last_login_time+"</p>";
                        str += "<p>设备状态："+json.status+"</p>";
                        str += "<p>休眠设置："+json.sleep_status+"</p>";
                        str += "<p>休眠时段："+json.sleep_time+"</p>";
                        
                        str += "<p>业务账号："+json.aaa_account+"</p>";
                        str += "<p>业务密码："+json.aaa_passwd+"</p>";
                        str += "<p>软件版本："+json.firmware_version+"</p>";
                        str += "<p>路由固件版本："+json.route_firmware_version+"</p>";
                        str += "<p>设备型号："+json.dev_desc+"</p>";
                        str += "<p>Model："+json.model+"</p>";
                        str += "<p>Brand："+json.brand+"</p>";
                        str += "<p>Board："+json.board+"</p>";

                        str += "<p><strong>网络信息</strong></p>";
                        str += "<p>Network模式："+json.network_mode+"</p>";
                        str += "<p>ITV模式："+json.itv_mode+"</p>";
                        str += "<p>WAN模式："+json.wan_mode+"</p>";
                        
                        str += "<p><strong>ITV参数</strong></p>";
                        str += "<p>itv_version："+json.itv_version+"</p>";
                        str += "<p>itv_dhcp_user："+json.itv_dhcp_user+"</p>";
                        str += "<p>itv_dhcp_pwd："+json.itv_dhcp_pwd+"</p>";
                        str += "<p>itv_pppoe_user："+json.itv_pppoe_user+"</p>";
                        str += "<p>itv_pppoe_pwd："+json.itv_pppoe_pwd+"</p>";
                        str += "<p>itv_static_ip："+json.itv_static_ip+"</p>";
                        str += "<p>itv_pppoe_ip："+json.itv_pppoe_ip+"</p>";
                        str += "<p>itv_dhcp_ip："+json.itv_dhcp_ip+"</p>";
                        str += "<p>itv_dhcp+_ip："+json.itv_dhcp_plus_ip+"</p>";
                        str += "<p>itv_netmask："+json.itv_netmask+"</p>";
                        str += "<p>itv_gateway："+json.itv_gateway+"</p>";
                        str += "<p>itv_dns1："+json.itv_dns1+"</p>";
                        str += "<p>itv_dns2："+json.itv_dns2+"</p>";
                        
                        str += "<p><strong>WAN参数</strong></p>";
                        str += "<p>wan_pppoe_user："+json.wan_pppoe_user+"</p>";
                        str += "<p>wan_pppoe_pwd："+json.wan_pppoe_pwd+"</p>";
                        str += "<p>wan_pppoe_ip："+json.wan_pppoe_ip+"</p>";
                        str += "<p>wan_dhcp_ip："+json.wan_dhcp_ip+"</p>";
                        str += "<p>wan_static_ip："+json.wan_static_ip+"</p>";
                        str += "<p>wan_netmask："+json.wan_netmask+"</p>";
                        str += "<p>wan_gateway："+json.wan_gateway+"</p>";
                        str += "<p>wan_dns1："+json.wan_dns1+"</p>";
                        str += "<p>wan_dns2："+json.wan_dns2+"</p>";
                        
                        str += "<p><strong>VLAN参数</strong></p>";
                        str += "<p>VLAN号："+json.vlan_number+"</p>";
                        str += "<p>VLAN状态："+json.vlan_status+"</p>";
                        
                        str += "<p><strong>Wi-Fi参数</strong></p>";
                        str += "<p>wifi_ssid："+json.wifi_ssid+"</p>";
                        str += "<p>wifi_passwd："+json.wifi_passwd+"</p>";
                        str += "<p>wifi_psk_type："+json.wifi_psk_type+"</p>";
                        str += "<p>wifi命令："+json.wifi_order+"</p>";
                        str += "<p>wifi状态："+json.wifi_status+"</p>";
                        
                        str += "<p><strong>其他</strong></p>";
                        str += "<p>最近上线IP："+json.last_login_ip+"</p>";
                        str += "<p>最近开机时间："+json.boot_time+"</p>";
						
						str += "<p>备注："+json.intro+"</p>";
						bootbox.confirm({
							title: "设备详情",
							message: str, 
							callback:function(result){},
							buttons: {
								"cancel" : {"label" : "取消"},
								"confirm" : {
									"label" : "确定",
									"className" : "btn-danger"
								}
							}
						});
					},
					error:function(){
						mainAjaxMsg(0,"AjaxError!");
					}
				})
			}
		});

		/*2017.03.04新增功能
		* 新增图片上传功能
		* 新增删除调用功能
		*/
		$("#fileupload").fileupload({
            url: "{:U('upload?name=fileupload')}",
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) {  //fileuploaddone 上传结束后执行的操作
        	var json = data.result;
        	if(json.status==1){
    			$("input[name=filepath]").val(json.storename);
                $("img#image").attr("src","{:C('UPLOADPATH')}"+json.storename);
    		}else if(json.status == 0){
                $("#weixin_progress").css('width','0');  
                $("#weixin_progress").html('0');
            }
        	mainAjaxMsg(json.status,json.info); //上传弹出提示
        }).bind('fileuploadprogress', function (e, data) {   //fileuploadprogress：主要是进度条的修改
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#weixin_progress").css('width',progress + '%');  
            $("#weixin_progress").html(progress + '%');  
        });
		$("#restimage").click(function() {
			var imagename = $("#filepath").attr("value");
			$("#image").attr("src","");
			$("filepath").attr('value', '');
			$("#weixin_progress").css('width','0%');
			$("#weixin_progress").html('0%');
			$.ajax({
				url: "{:U('deleteimage')}",
				type: 'POST',
				dataType: 'json',
				data: {imagename: imagename},
			});
		});
        $(".macimageselect").on("change",function(event) {
            var path = $(this).find('option:selected').attr("name");
            $("#selectimage").attr('src', "{:C('UPLOADPATH')}"+path);
        });
        $("#xmlfile").fileupload({
            url: "{:U('uploadxml?name=xmlfile')}",
            dataType: 'json',
            sequentialUploads: true  
        }).bind('fileuploaddone', function (e, data) {  //fileuploaddone 上传结束后执行的操作
            var json = data.result;
            if(json.status==1){
                $("input[name=xmlpath]").val(json.storename);
                $("#uploadsuccess").attr('value', '上传成功');
            }else{
                $("#uploadsuccess").attr('value', '上传不成功');
            }
        });
        $("#xmlrest").click(function() {
            $("input[name='xmlpath']").attr('value', '');
            $("#uploadsuccess").attr('value', '未上传');
        });
        
        $("#sleepbg_submit").click(function() {
            var filepath = $("#filepath").val();
            var image_name = $("input[name='image_name']").val();
            if(filepath == ''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "请上传背景图", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(image_name == ''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "请填写图片名称", 
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            $("form[name='setbackgroud']").submit();
        });

        /**************
         *2017.05.024 新增 
         *查询设备apk列表
         *根据设备mac 查询需要安装和已安装列表
         */
        $("#apklist").click(function(event) {
            var chk_value =[]; 
            $('input[type="checkbox"]:checked').each(function(){ 
                if($(this).val()){
                    chk_value.push($(this).val());
                }  
            });
            if(chk_value.length>1){
                bootbox.confirm({
                    title: "系统提示",
                    message: "每次只能查询一设备的apk信息，请不要多选！", 
                    callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
            }else if(chk_value.length<1){
                bootbox.confirm({
                    title: "系统提示",
                    message: "请选择要查看apk信息的设备！", 
                    callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
            }else{
                var timestamp  = Date.parse(new Date()); 
                var url = $("#apklist").attr("val")+"?id="+chk_value[0]+"&timestamp";
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                })
                .done(function(data) {
                    console.log(data);
                    var $apk_id_count = data['apk_id'].length; 
                    var $install_apk_id_count = data['install_apk_id'].length; 
                    var str = "";
                    str += "<p><strong>需安装apk</strong></p>";
                    if($apk_id_count>0){
                        for(var i=0;i<$apk_id_count;i++){
                            str += data['apk_id'][i]+"&nbsp;&nbsp;&nbsp;";
                        }
                        if($install_apk_id_count>0){
                            str += "<hr><p><strong>已安装apk</strong></p>";
                            for(var j=0;j<$install_apk_id_count;j++){
                                str += data['install_apk_id'][j]+ "&nbsp;&nbsp;";
                            }
                        }
                    }
                    console.log(str);

                    bootbox.confirm({
                        title: "APK列表信息",
                        message: str, 
                        callback:function(result){},
                        buttons: {
                            "cancel" : {"label" : "取消"},
                            "confirm" : {
                                "label" : "确定",
                                "className" : "btn-danger"
                            }
                        }
                    });
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                
            }
        });

        // 2017.08.08新增
        // 更新详细地址备注
        $("#updateroomremarks").click(function(){
            var menuid = [];
            var remarks = [];
            var todourl='';
            $.each($(".room_remark"),function(index){
                menuid[index]=$(this).attr("rowid");
                remarks[index]=$(this).val();
            });
            var hid = $("#hid").find('option:selected').val();
            var mac = $("input[name='mac']").val();
            var room = $("input[name='room']").val();
            $.ajax({
                url: "{:U('updateroomremarks')}",
                type: 'POST',
                dataType: 'json',
                data: {'menuid': menuid.join(),'remarks':remarks.join()},
            })
            .done(function(data) {
                console.log(data);
                if(data == true){
                    var str = "更新成功";
                }else{
                    var str = "更新失败";
                }
                bootbox.confirm({
                    title: "更新详细地址备注",
                    message: str, 
                    callback:function(result){},
                    buttons: {
                        "cancel" : {"label" : "取消"},
                        "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        });

        //导出excel
        $("#outexcel").click(function(event) {
            var $hid = $("#hid").val();
            var $room = $("input[name='room']").val();
            var $mac = $("input[name='mac']").val();
            // console.log("----------hid="+$hid);
            // console.log("----------room="+$room);
            // console.log("----------mac="+$mac);
            bootbox.confirm({
                title: "系统提示",
                message: "是否要导出Excel表格（根据所选条件导出Excel,未选条件时全表导出）？", 
                callback:function(result){
                    if(result){
                        var $baseurl = $("#outexcel").attr("val");
                        var $url = $baseurl+'?hid='+$hid+'&room='+$room+'&mac='+$mac;
                        $("#form").attr("action",$url);
                        $("#form").submit();
                    }
                },
                buttons: {
                    "cancel" : {"label" : "取消"},
                    "confirm" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                }
            });
        });
	})
    </script>
</block>