<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="page-header">
        <a class="label label-xlg label-primary arrowed " href="{:U('index')}">返回列表</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="form" method="post" action="{:U('updateappname')}" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$vo['id']}">
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">客户 </label>
                    <div class="col-sm-9">
                        <if condition="$personhid neq ''">
                            <select id="hid" name="hid" class="col-xs-10 col-sm-5 select2">
                                <option value=""></option>
                                <volist name="personhid" id="phid">
                                    <option value="{$phid}" <if condition="$hotelid eq $phid">selected</if> >{$phid|getHotelnameByHid}</option>
                                </volist>
                            </select>
                            <else />
                            <select id="hid" name="hid" class="col-xs-10 col-sm-5 select2">
                                <option></option>
                                {$pHotel}
                            </select>
                        </if>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">APP名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="appname" id="appname"  class="col-xs-10 col-sm-5" value="{$vo['appname']}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">APP包名</label>
                    <div class="col-sm-9">
                        <input type="text" name="packagename" id="packagename"  class="col-xs-10 col-sm-5" value="{$vo['packagename']}">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"><span class="red"> * </span>必填</span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right">APP类名</label>
                    <div class="col-sm-9">
                        <input type="text" name="classname" id="classname"  class="col-xs-10 col-sm-5" value="{$vo['classname']}">
                            <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle"><span class="red"> * </span>必填</span>
                            </span>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info submit" type="button">
                        <i class="icon-ok bigger-110"></i>提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" type="reset">
                        <i class="icon-undo bigger-110"></i>重置
                    </button>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="currentPageJS">
    <script type="text/javascript">
        $('#hid').select2({ placeholder : '--请选择--' });

        $(".btn-info.submit").click(function(){
            var hid = $("#hid").val();
            var appname = $("#appname").val();
            var packagename = $("#packagename").val();
            var classname = $("#classname").val();
            if(hid==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "所属客户必须选择",
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(appname==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "APP名称必须填写",
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(packagename==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "APP包名必须填写",
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }
            if(classname==''){
                bootbox.dialog({
                    title: '友情提示：',
                    message: "APP类名必须填写",
                    buttons: {
                        "success" : {
                            "label" : "确定",
                            "className" : "btn-danger"
                        }
                    }
                });
                return;
            }

            $("#form").submit();
        });
    </script>
</block>