<extend name="Public:layout"/>
<block name="page-content-row">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <form class="form-inline" action="{:U('index')}" method="get">
                    <label class="inline">专题：</label>
                    <select style="width: 20%" name="groupid">
                      <option value="">请选择</option>
                      <volist name="groupList" id="groupList">
                        <option value="{$groupList.id}" <eq name="groupId" value="$groupList.id">selected</eq>>{$groupList.title}</option>
                      </volist>
                    </select>
                    <label class="inline" style="padding-left: 2%">语言：</label>
                    <select style="width: 20%" name="langcodeid">
                      <option value="">请选择</option>
                      <volist name="langList" id="langList">
                        <option value="{$langList.id}" <eq name="langId" value="$langList.id">selected</eq>>{$langList.name}</option>
                      </volist>
                    </select>
                    <label class="inline" style="padding-left: 2%">栏目：</label>
                    <input type="text" name="keyword" class="form-control" placeholder="栏目" value="{$_REQUEST['keyword']}">
                    <button type="submit" class="btn btn-purple btn-sm">
                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>查询
                    </button>
                </form>
            </div>
            <div class="space-8"></div>
            <div class="row">
                <a class="label label-xlg label-primary" href="{:U('add')}" ><i class="ace-icon fa fa-plus bigger-100"></i>&nbsp;添加</a>
                <a class="label label-xlg label-success" href="javascript:;" id="edit" val="{:U('edit')}" ><i class="ace-icon fa fa-pencil bigger-100"></i>&nbsp;修改</a>
                <a class="label label-xlg label-danger" href="javascript:;" id="delete" val="{:U('delete')}" ><i class="ace-icon fa fa-trash-o bigger-100"></i>&nbsp;删除</a>
                <a class="label label-xlg label-info" href="javascript:;" id="unlock" val="{:U('unlock')}" ><i class="ace-icon fa fa-unlock bigger-100"></i>&nbsp;启用</a>
                <a class="label label-xlg label-warning" href="javascript:;" id="lock" val="{:U('lock')}" ><i class="ace-icon fa fa-lock bigger-100"></i>&nbsp;禁用</a>
                <a class="label label-xlg label-default" href="javascript:;" id="moveup" val="{:U('moveup')}" ><i class="ace-icon fa fa-arrow-up bigger-100"></i>&nbsp;上移</a>
                <a class="label label-xlg label-default" href="javascript:;" id="movedown" val="{:U('movedown')}" ><i class="ace-icon fa fa-arrow-down bigger-100"></i>&nbsp;下移</a>
                <a class="label label-xlg label-primary" href="javascript:;" id="resource" val="{:U('resource')}" ><i class="ace-icon fa fa-file bigger-100"></i>&nbsp;资源管理</a>
                <!-- <a class="label label-xlg label-success" href="javascript:;" id="lock" val="{:U('lock')}" ><i class="ace-icon fa fa-copy bigger-100"></i>&nbsp;复制</a> -->
            </div>
            <div class="space-8"></div>
            <div class="row">
                <form id="form" method="post" action="">
                    <table id="table" class="table table-hover table-striped trClick">
                      <thead>
                        <tr>
                          <th class="center"><input class="check-all" type="checkbox" value=""></th>
                          <th>所属栏目</th>
                          <th>语言</th>
                          <th>栏目</th>
                          <th>模型</th>
                          <th>图标</th>
                          <th>排序</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <volist name="list" id="l">
                          <tr rid="{$l.id}" title="{$l.intro}">
                            <td class="center"><input class="aids" type="checkbox" name="ids[]" value="{$l.id}"/></td>
                            <td>{$l.groupid|getTopicNameById}</td>
                            <td>{$l.langcodeid|getLangcodeNameById}</td>
                            <td>{$l.name}</td>
                            <td>{$l.modeldefineid|getModeldefineNameById}</td>
                            <td>
                            <if condition="$l['icon'] neq ''">
                            <img src="{:C('UPLOADPATH')}{$l['icon']}" style="width:45px;height:45px;"/>
                            </if>
                            </td>
                            <td>{$l.sort}</td>
                            <td>{$l.status|get_status}</td>
                          </tr>
                        </volist>
                      </tbody>
                    </table>
                </form>
                {$page}
            </div>
        </div>
    </div>
</block>
<block name="currentPageJS">
    <script type="text/javascript">
  $(function(){
    $(".check-all").click(function(){
        $(".aids").prop("checked", this.checked);
    });
    $(".aids").click(function(){
        var option = $(".aids");
        option.each(function(i){
            if(!this.checked){
                $(".check-all").prop("checked", false);
                return false;
            }else{
                $(".check-all").prop("checked", true);
            }
        });
    });
    $("#edit").click(function(){
      var len = $("input[name='ids[]']:checked").length;
      if(len!=1){
        bootbox.confirm({
        title: "系统提示",
        message: "仅能对一条数据进行操作", 
        callback:function(result){},
            buttons: {
                "cancel" : {"label" : "取消"},
                "confirm" : {
                    "label" : "确定",
                    "className" : "btn-danger"
                }
            }
        });
        return;
      }
      $("#form").attr("action",$("#edit").attr("val"));
	    $("#form").submit();
    });
		$("#unlock").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要启用所选专题？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#unlock").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#lock").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要禁用所选专题？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#lock").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
		$("#delete").click(function(){
			bootbox.confirm({
				title: "系统提示",
				message: "是否要删除所选专题栏目？", 
				callback:function(result){
					if(result){
						$("#form").attr("action",$("#delete").attr("val"));
						$("#form").submit();
					}
				},
				buttons: {
					"cancel" : {"label" : "取消"},
					"confirm" : {
							"label" : "确定",
							"className" : "btn-danger"
						}
				}
			});
		});
    $("#moveup").click(function(){
      var len = $("input[name='ids[]']:checked").length;
        if(len!=1){
          bootbox.confirm({
          title: "系统提示",
          message: "仅能对一条数据进行操作", 
          callback:function(result){},
              buttons: {
                  "cancel" : {"label" : "取消"},
                  "confirm" : {
                      "label" : "确定",
                      "className" : "btn-danger"
                  }
              }
          });
          return;
      }
      bootbox.confirm({
        title: "系统提示",
        message: "是否要上移专题栏目？", 
        callback:function(result){
          if(result){
            $("#form").attr("action",$("#moveup").attr("val"));
            $("#form").submit();
          }
        },
        buttons: {
          "cancel" : {"label" : "取消"},
          "confirm" : {
              "label" : "确定",
              "className" : "btn-danger"
            }
        }
      });
    });
    $("#movedown").click(function(){
      var len = $("input[name='ids[]']:checked").length;
        if(len!=1){
          bootbox.confirm({
          title: "系统提示",
          message: "仅能对一条数据进行操作", 
          callback:function(result){},
              buttons: {
                  "cancel" : {"label" : "取消"},
                  "confirm" : {
                      "label" : "确定",
                      "className" : "btn-danger"
                  }
              }
          });
          return;
      }
      bootbox.confirm({
        title: "系统提示",
        message: "是否要下移专题栏目？", 
        callback:function(result){
          if(result){
            $("#form").attr("action",$("#movedown").attr("val"));
            $("#form").submit();
          }
        },
        buttons: {
          "cancel" : {"label" : "取消"},
          "confirm" : {
              "label" : "确定",
              "className" : "btn-danger"
            }
        }
      });
    });

    $("#resource").click(function(){
      var len = $("input[name='ids[]']:checked").length;
        if(len!=1){
          bootbox.confirm({
          title: "系统提示",
          message: "仅能对一条数据进行操作", 
          callback:function(result){},
              buttons: {
                  "cancel" : {"label" : "取消"},
                  "confirm" : {
                      "label" : "确定",
                      "className" : "btn-danger"
                  }
              }
          });
          return;
      }
      $("#form").attr("action",$("#resource").attr("val"));
      $("#form").submit();
    });
});
    </script>
</block>